* {
  font-family: "Aldrich", sans-serif;
  background-color: #3b3b3b;
  color: #fff;
}

header{
  background-color: #262626;
  width: 100%;
  height: 70px;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
};







