* {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Aldrich', sans-serif;
  color: #fff;
}

header {
  background-color: #262626;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  letter-spacing: 2px;
  border-bottom: 1px solid #a8a8a8;
}

.container {
  flex: 1;
  display: flex;
  height: 100%;
}

#aside_escenarios{
  max-width: 150px;
  display: flex;
  padding: 15px;
  border-right: 1px solid #a8a8a8;
}

#aside_elementos{
  width: 250px;
  padding: 15px;
  border-right: 1px solid #a8a8a8;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}







